*{
    padding: 0;
    margin: 0;
}
.logo{
    transform: translateY(-2px);
    margin-right: 10px;
}

.heros-back{
    width: 30%;
    height: 50%;
    border: 1px solid wheat;
}
.backimg{
    margin-top: 2%;
    margin-right: 0.9%;
}
.logBody, .rbody, .landingBody{
    /* background-color: logBody; */
    text-align: center;
    background-image: linear-gradient(45deg,rgb(8 76 148),rgb(91, 48, 132));
}
.lk, #navbarNavAltMarkup{
    text-decoration: none; 
    color: aliceblue;
  
}
.MainForm{
    width: 100%;
    height: 93vh;
    justify-content: space-between; 
    display: flex; 
    background-image: url("/Resources/banner.png");
    background-repeat: no-repeat; 
    background-position: 85% 50%;
}

.rform{
    width: 100%;
}

/* for tablates  */
@media screen and (max-width: 992px) {
    .MainForm{
        background-color: crimson;
        background-size: contain;
        background-position: center;
    }
}

/* for smart phone  */
@media screen and (max-width: 600px) {
    .MainForm{
        background-size: contain;
        background-position: center;
                background-color: aqua;
    }
  }